/* variables.scss */
/* nav.scss */
@media (max-width: 768px) { .logo-desktop { display: none; }
  .logo-mobile { display: block !important; }
  .navbar-brand { padding: 2px 10px !important; } }

.navbar-logo > img { height: 50px; padding-left: 10px; }

.logo-mobile { display: none; }

.navbar-brand { padding: 2px 2px; }

.navbar-default { background-color: #ffffff; border-color: #ffffff; }

.navbar-default .navbar-brand { color: #25aae1; }

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus { color: #00328d; }

.navbar-default .navbar-text { color: #25aae1; }

.navbar-default .navbar-nav > li > a { color: #25aae1; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: #00328d; }

.navbar-default .navbar-nav > li > .nav-dropdown-menu { background-color: #ffffff; }

.navbar-default .navbar-nav > li > .nav-dropdown-menu > li > a { color: #25aae1; }

.navbar-default .navbar-nav > li > .nav-dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > .nav-dropdown-menu > li > a:focus { color: #00328d; background-color: #ffffff; }

.navbar-default .navbar-nav > li > .nav-dropdown-menu > li.divider { background-color: #ffffff; }

.navbar-default .navbar-nav .open .nav-dropdown-menu > .active > a, .navbar-default .navbar-nav .open .nav-dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .nav-dropdown-menu > .active > a:focus { color: #00328d; background-color: #ffffff; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { color: #00328d; background-color: #ffffff; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { color: #00328d; background-color: #ffffff; }

.navbar-default .navbar-toggle { border-color: #ffffff; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: #ffffff; }

.navbar-default .navbar-toggle .icon-bar { background-color: #25aae1; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: #25aae1; }

.navbar-default .navbar-link { color: #25aae1; }

.navbar-default .navbar-link:hover { color: #00328d; }

@media (max-width: 767px) { .navbar-default .navbar-nav .open .nav-dropdown-menu > li > a { color: #25aae1; }
  .navbar-default .navbar-nav .open .nav-dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .nav-dropdown-menu > li > a:focus { color: #00328d; }
  .navbar-default .navbar-nav .open .nav-dropdown-menu > .active > a, .navbar-default .navbar-nav .open .nav-dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .nav-dropdown-menu > .active > a:focus { color: #00328d; background-color: #ffffff; } }

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse { margin-bottom: 0.2em; }

#navbar-close { color: #00328d; width: 22px; height: 14px; }

.navbar-default .navbar-nav > li > a { font-family: "Oswald", sans-serif; font-size: 1.5em; }

.dropdown-menu > li > a { font-family: "Oswald", sans-serif; font-size: 1.5em; }

.cta { padding: 2px 6px 2px 6px; background-color: #EEEEEE; color: #333333; padding: 2px 6px 2px 6px; border-top: 1px solid #CCCCCC; border-right: 1px solid #333333; border-bottom: 1px solid #333333; border-left: 1px solid #CCCCCC; }

.footer-copyright { font-size: 1.15em; color: #ffffff; padding: 10px 0; margin-bottom: 0; }

.footer-copyright a { color: #f2f2f2; text-decoration: none; }

.footer-copyright a:hover { color: white; text-decoration: none; }

.copyright { background-color: #57565c; }

.social-icon { width: 40px; height: 40px; font-size: 24px; background-color: #d4d4d4; color: #fff; text-align: center; margin-right: 10px; padding-top: 8px; border-radius: 50%; }

.footer-social li { float: right; display: flex; }

@media (max-width: 768px) { .footer-social { display: flex; justify-content: center; }
  .footer-copyright { text-align: center; }
  .footer-copyright span { display: none; } }

.twitter-color { color: #1da1f2; }

.twitter-color:hover { color: #0c85d0; transition: all 3s; -webkit-transition: all 3s; -moz-transition: all 3s; }

.youtube-color { color: #dd4b39; }

.youtube-color:hover { color: #c23321; transition: all 3s; -webkit-transition: all 3s; -moz-transition: all 3s; }

.google_plus-color { color: #dd4b39; }

.google_plus-color:hover { color: #c23321; transition: all 3s; -webkit-transition: all 3s; -moz-transition: all 3s; }

.twitch-color { color: #6441a5; }

.twitch-color:hover { color: #4e3380; transition: all 3s; -webkit-transition: all 3s; -moz-transition: all 3s; }

.github-color { color: #333; }

.github-color:hover { color: #1a1a1a; transition: all 3s; -webkit-transition: all 3s; -moz-transition: all 3s; }

.facebook-color { color: #3b5998; }

.facebook-color:hover { color: #2d4373; transition: all 3s; -webkit-transition: all 3s; -moz-transition: all 3s; }

.spotify-color { color: #1db954; }

.spotify-color:hover { color: #168d40; transition: all 3s; -webkit-transition: all 3s; -moz-transition: all 3s; }

.behance-color { color: #1769ff; }

.behance-color:hover { color: #0050e3; transition: all 3s; -webkit-transition: all 3s; -moz-transition: all 3s; }

/* Background */
.twitter-color_background { background-color: #1da1f2; }

.twitter-color_background:hover { background-color: #0c85d0; }

.youtube-color_background { background-color: #dd4b39; }

.youtube-color_background:hover { background-color: #c23321; }

.google-plus-color_background { background-color: #dd4b39; }

.google-plus-color_background:hover { background-color: #c23321; }

.twitch-color_background { background-color: #6441a5; }

.twitch-color_background:hover { background-color: #4e3380; }

.github-color_background { background-color: #333; }

.github-color_background:hover { background-color: #1a1a1a; }

.facebook-color_background { background-color: #3b5998; }

.facebook-color_background:hover { background-color: #2d4373; }

.spotify-color_background { background-color: #1db954; }

.spotify-color_background:hover { background-color: #168d40; }

.behance-color_background { background-color: #1769ff; }

.behance-color_background:hover { background-color: #0050e3; }

/* jumbotron.scss */
.jumbotron { background-color: transparent !important; }

.hero { text-align: center; color: white; background: url(https://mrdemonwolf.github.io/img/hero_bg.jpg) no-repeat bottom center; background-size: cover; height: 100%; }

.hero-body { display: table-cell; vertical-align: middle; }

.hero-heading { font-size: 2em; }

.hero-text { color: #ffffff; font-family: "Oswald", sans-serif; font-size: 2em; display: inline-block; }

.hero-animate-text { font-family: "Oswald", sans-serif; font-size: 2em; flex-wrap: wrap; display: flex; justify-content: center; }

.hero-animate-text span { position: absolute; opacity: 0; overflow: hidden; color: #fff; -webkit-animation: animateWord 18s linear infinite 0s; -ms-animation: animateWord 18s linear infinite 0s; animation: animateWord 18s linear infinite 0s; }

.hero-animate-text > span:nth-child(2) { -webkit-animation-delay: 3s; -ms-animation-delay: 3s; animation-delay: 3s; color: #fff; }

.hero-animate-text > span:nth-child(3) { -webkit-animation-delay: 6s; -ms-animation-delay: 6s; animation-delay: 6s; color: #fff; }

.hero-animate-text > span:nth-child(4) { -webkit-animation-delay: 9s; -ms-animation-delay: 9s; animation-delay: 9s; color: #fff; }

@-webkit-keyframes animateWord { 0% { opacity: 0; }
  2% { opacity: 0;
    -webkit-transform: translateY(-30px); }
  5% { opacity: 1;
    -webkit-transform: translateY(0px); }
  17% { opacity: 1;
    -webkit-transform: translateY(0px); }
  20% { opacity: 0;
    -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; } }

.btn { border-radius: 5px; margin: 21px 0 0 0; font-weight: 700; }

.btn.btn-cta { color: #fff; background-color: #204d74; }

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:hover { background: #fff; color: #666; transition: all 500ms; -webkit-transition: all 500ms; -moz-transition: all 500ms; }

/* about.scss */
.illustration { width: 75%; height: 75%; display: flex; justify-content: center; /* align horizontal */ background-color: black; }

.about_text { padding-top: 3em; font-family: "Oswald", sans-serif; font-size: 1.5em; font-style: normal; display: flex; justify-content: center; /* align horizontal */ }

@media (max-width: 991px) { .about_text { padding-top: 2em; margin-left: 1em; margin-right: 1em; }
  .illustration { width: 40%; height: 40%; float: none; margin: 0 auto; } }

/* contact.scss */
.content-wrapper { min-height: 100%; position: relative; }

.align-center { text-align: center; }

.row-contact { margin: -20px 0 !important; }

.row-contact :after { content: "" !important; display: table !important; clear: both !important; }

.row-contact .col { padding: 0 20px; float: left; box-sizing: border-box; }

.row-contact .col.x-50 { width: 50%; }

.row-contact .col.x-100 { width: 100%; }

.get-in-touch { max-width: 75%; margin: 0 auto; position: relative; }

.get-in-touch .title { text-align: center; font-family: "Oswald", sans-serif; text-transform: uppercase; letter-spacing: 3px; font-size: 1.75em; line-height: 48px; padding-bottom: 32px; }

.contact-form .form-field { position: relative; margin: 32px 0; }

.contact-form .input-text { display: block; width: 100%; height: 36px; border-width: 0 0 2px 0; border-color: #000; font-family: "Oswald", sans-serif; font-size: 18px; line-height: 26px; font-weight: 400; }

.contact-form .input-text:focus { outline: none; }

.contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label { -webkit-transform: translateY(-24px); transform: translateY(-24px); }

.contact-form .label { position: absolute; left: 20px; bottom: -2px; font-family: "Oswald", sans-serif; font-size: 18px; line-height: 26px; font-weight: 400; color: #888; cursor: text; -webkit-transition: -webkit-transform .2s ease-in-out; transition: -webkit-transform .2s ease-in-out; transition: transform .2s ease-in-out; transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out; }

.contact-form .submit-btn { display: inline-block; background: #666; color: #ffffff; border-bottom: 4px solid #ddd; font-family: "Oswald", sans-serif; text-transform: uppercase; letter-spacing: 2px; font-size: 16px; line-height: 24px; padding: 8px 16px; border: none; cursor: pointer; }

.img-circle, .illustration { border-radius: 50%; }

.big-content-top { padding-top: 25px; }

.small-content-top { padding-top: 10px; }

.page-header_center { text-align: center; }

.row-centered { text-align: center; }

.col-centered { display: inline-block; float: none; text-align: left; margin-right: -4px; }

#about { padding-top: 50px; }

#work { padding-top: 50px; }

#contact { padding-top: 50px; }
