// -----------------------------------------------------------------------------
// This file contains all styles related to the showcase gallery component.
// -----------------------------------------------------------------------------
.showcase_gallery {
    .gallery {
        display: inline-block;
    }
    .showcase_filter {
        padding-bottom: 8px;;
    }

    .showcase_filter-button {
        font-size: 1.15em;
        border: 1px solid $brand-color-alt;
        border-radius: 5px;
        text-align: center;
        color: $brand-color-alt;

        &:hover {
            font-size: 1.15em;
            border: 1px solid $brand-color-alt;
            border-radius: 5px;
            text-align: center;
            color: #ffffff;
            background-color: $brand-color-alt;
        }
    }

    .btn-default {
        &:active {
            .showcase_filter-button {
                &:active {
                    background-color: $brand-color-alt;
                    color: #ffffff;
                }
            }
        }
    }

    .image {
        width: 100%;
    }

    .product {
        margin-bottom: 30px;

        a > img:hover {
            border: 0px solid rgba($brand-color-alt, 0.75);
            transition: all 1s;
        }
    }
}
