// -----------------------------------------------------------------------------
// This file contains all styles related to the landing header component.
// -----------------------------------------------------------------------------
.landing_header {
    font-family: $main-font;
    color: $brand-color;
    font-size: 2.25em;
    text-align: center;
    font-weight: 700;
}
