// -----------------------------------------------------------------------------
// This file contains all styles related to the twitch banner component.
// -----------------------------------------------------------------------------
.twitchBanner {
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    width: 100%;
    background-color: #6441a5;

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }

    .text {
        font-family: $main-font;
        font-size: 1.15em;
    }

    .icon {
        display: inline;
        color: #ffffff;
    }

    .pulsing {
        // box-shadow: inset 0 0 0 3px #FFF;
        transition: transform 0.4s, opacity 0.4s;
        animation: pulsing 2s infinite;

        @keyframes pulsing {
            0% {
                transform: scale(1);
                opacity: 1;
            }

            50% {
                transform: scale(2);
            }

            100% {
                transform: scale(1);
                opacity: 0;
            }
        }
    }

    .close-notice {
        font-size: 1em;
        top: 0;
        right: 0;
        display: inline;
        position: absolute;
    }
}
