// -----------------------------------------------------------------------------
// This file contains all styles related to the work component.
// ----------------------------------------------------------------------------
.gallery {
    display: inline-block;
    .thumbnail {
      border: none;
    }
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: $brand-color-alt;
}

.project-name {
    font-size: 1.25em;
    text-align: center;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}
