<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ site.data.settings.url }}/img/illustration.jpg" alt="MrDemonWolf Illustration" class="illustration">
        </div>
        <div class="col-md-7">
            <div class="about_text">
                <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to
                    corporate strategy foster collaborative thinking to further the overall value proposition. Organically
                    grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
            </div>
        </div>
    </div>
</div>