<!-- Contact -->
<div id="contact" class="contact-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section class="get-in-touch">
                    <h3 class="title">Want to hire me for your next project?</h3>
                    <form class="contact-form row row-contact" action="https://formspree.io/{{ site.email }}" method="POST">
                        <div class="form-field col x-50">
                            <input id="name" class="input-text js-input" type="text" name="name" required>
                            <label class="label" for="name">Name</label>
                        </div>
                        <div class="form-field col x-50">
                            <input id="email" class="input-text js-input" type="email" name="_replyto" required>
                            <label class="label" for="email">E-mail</label>
                        </div>
                        <div class="form-field col x-100">
                            <input id="message" class="input-text js-input" type="text" name="_textarea" required>
                            <label class="label" for="message">Message</label>
                        </div>
                        <div class="form-field col x-100 align-center">
                            <input class="btn btn-primary btn-lg" type="submit" value="Send">
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
