<script>
    window.addEventListener("load", function () {
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#ffffff",
                    "text": "#000000"
                },
                "button": {
                    "background": "#00709f"
                }
            },
            "position": "bottom-right",
            "content": {
                "href": "https://mrdemonwolf.me//privacy-statement"
            }
        })
    });
</script>