<!-- Loadidng JS in footer -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ site.data.settings.url }}/lib/jquery/dist//jquery.js"></script>
<script src="{{ site.data.settings.url }}/lib/letteringjs/jquery.lettering.js"></script>
<!-- Bootstrap Javascript -->
<script src="{{ site.data.settings.url }}/lib/bootstrap/dist/js/bootstrap.js"></script>
<!-- Custom -->
<script src="{{ site.data.settings.url }}/js/script.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>