<!-- Footer -->
<footer>
    <!-- Footer copyright with auto update year. -->
    <div class="copyright">
        <div class="container">
            <div class="col-md-6 col-sm-12">
                <div class="footer-copyright"> Copyright ©
                    <script>
                        document.write("" + new Date().getFullYear());
                    </script> <a href="/">{{ site.data.settings.title }}</a> <span>, All rights reserved</span>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-2 col-sm-12 footer-social ">
                <li><a href="https://www.twitter.com/mrdemonwolf"><i class="fa fa-twitter social-icon twitter-color" aria-hidden="true"></i></a></li>
                <li><a href="https:/www.youtube.com/"><i class="fa fa-youtube-play social-icon youtube-color" aria-hidden="true"></i></a></li>
                <li><a href="https://"><i class="fa fa-google-plus social-icon google_plus-color" aria-hidden="true"></i></a></li>
                <li><a href="https://www.twitch.tv/mrdemonwolf/"><i class="fa fa-twitch social-icon twitch-color" aria-hidden="true"></i></a></li>
                <li><a href="https://www.github.com/mrdemonwolf/"><i class="fa fa-github social-icon github-color" aria-hidden="true"></i></a></li>
                <li><a href="https://www.github.com/mrdemonwolf/"><i class="fa fa-github social-icon github-color" aria-hidden="true"></i></a></li>
            </div>
        </div>
    </div>
</footer>
<!-- Loadidng JS in footer -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ site.data.settings.url }}/lib/jquery/dist/jquery.js"></script>
<script src="{{ site.data.settings.url }}/lib/letteringjs/jquery.lettering.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.js"></script>
<!-- Bootstrap Javascript -->
<script src="{{ site.data.settings.url }}/lib/bootstrap/dist/js/bootstrap.js"></script>
<!-- Custom -->
<script src="{{ site.data.settings.url }}/js/script.js"></script>