<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <!-- Logo and Info about -->
            <div class="col-md-4 col-sm-12 footer-col">
                <div class="logofooter"><img class="img-responsive" src="{{ site.data.settings.url }}/img/logo.png"></div>
                <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to
                    corporate strategy foster collaborative thinking to further the overall value proposition.</p>
            </div>
            <!-- Site map-->
            <div class="col-md-3 col-sm-12 footer-col">
                <h6 class="heading7">Site Map</h6>
                <ul class="footer-ul">
                    <li><a href="#about"> About</a></li>
                    <li><a href="#work">Work</a></li>
                    <li><a href="#contact"> Contact</a></li>
                </ul>
            </div>
            <!-- Social Links -->
            <div class="col-md-3 col-sm-12 footer-col">
                <h6 class="social-heading">Social Media</h6>
                <h4 class="muted">Follow us on social media to stay updated.</h6>
                    <ul class="footer-social">
                        <l><a href="https://www.twitter.com/demonwolfdev"><i class="fa fa-twitter social-icon twitter-color" aria-hidden="true"></i></a></li>
                            <li><a href="https:/www.youtube.com/"><i class="fa fa-youtube-play social-icon youtube-color" aria-hidden="true"></i></a></li>
                            <li><a href="https://"><i class="fa fa-google-plus social-icon google_plus-color" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.twitch.tv/demonwolfdev/"><i class="fa fa-twitch social-icon twitch-color" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.twitch.tv/demonwolfdev/"><i class="fa fa-github social-icon github-color" aria-hidden="true"></i></a></li>
                    </ul>
            </div>
        </div>
    </div>
    <!-- Footer copyright with auto update year. -->
    <div class="copyright">
        <div class="container">
            <div class="col-md-6">
                <div class="footer-copyright"> Copyright ©
                    <script>
                        document.write("" + new Date().getFullYear());
                    </script> <a href="/">{{ site.data.setting.title }}</a> <span>, All rights reserved</span>
                </div>
            </div>
            <div class="col-md-4">
                <li><a href="./legal/tos.html"> Terms of Service</a></li>
                <li><a href="./legal/statement.html"> Statement</a></li>
            </div>
        </div>
    </div>
</footer>
<!-- Loadidng JS in footer -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ site.data.settings.url }}/lib/jquery/dist//jquery.js"></script>
<script src="{{ site.data.settings.url }}/lib/letteringjs/jquery.lettering.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<!-- Bootstrap Javascript -->
<script src="{{ site.data.settings.url }}/lib/bootstrap/dist/js/bootstrap.js"></script>
<!-- Custom -->
<script src="{{ site.data.settings.url }}/js/script.js"></script>