<!-- Gallery -->
<div class="container showcase_gallery">
  <div class="row">
    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div align="center" class="showcase_filter">
        {% for item in page.gallery-fliter %}
        <button class="btn btn-default showcase_filter-button" data-filter="{{ item.name }}">{{ item.title}}</button>{% endfor %}
      </div>
      <br/>
    </div>
  </div>
  <div class="container">
    {% for item in page.gallery-thumbnails %}
    <div class="product col-lg-4 col-md-4 col-sm-12 col-xs-12 filter {{ item.fliter }}">
      <a href="{{ site.baseurl }}/{{ page.url-path }}/{{ item.url }}">
        <img src="{{ site.baseurl }}/assets/images/{{ page.url-path }}/thumbnails/{{ item.picture }}" class="img-responsive">
      </a>
    </div>{% endfor %}
  </div>
</div>
