<script>
  var radioAPI = "https://dj.mrdemonwolf.me/api/nowplaying/1";
  $(document).ready(function getData() {
    $.getJSON(radioAPI, function (json) {
      var listen = json.station.listen_url;
      var title = json.station.name;
      var description = json.station.description;
      var songname = json.now_playing.song.title;
      $('#radio-title').text(title);
      $('#radio-description').text(description);
      $('#song-name').text(songname);
      $('.audio source').attr('src', listen);
      console.log(listen);
    })
  });
  $(document).ready(function getCurrentListeners() {
    $.getJSON(radioAPI, function (json) {
      var listeners = json.listeners.current;
      $('#listeners').text(listeners)
      console.log(listeners);
      myToggle = setTimeout(getCurrentListeners, 2000);
    })
  });

</script>
<div class="container">
  <div class="col-md-8">
    <div class="player">
      <audio class="audio" controls="controls">
        <source type="audio/mpeg" src="https://dj.mrdemonwolf.me/radio/8000/radio.mp3">
      </audio>
    </div>
  </div>
  <div class="col-md-4">
    <div id="song-name"></div>
    <div id="radio-title"></div>
    <div id="listeners"></div>
  </div>
</div>
