<div class="container">
  <div class="radio_songreqeust">
    <form accept-charset="UTF-8" action="https://usebasin.com/f/3c2c1de4eb36" enctype="multipart/form-data" method="POST">
      <label for="email-address">Email Address</label>
      <input class="form-control" type="email" id="email" name="email" placeholder="example@example.com" required>
      <label for="request[name]">Your name</label>
      <input class="form-control" type="name" name="name" size="40" placeholder="MrDemonWolf">
      <label for="request[artist]">Song artist</label>
      <input class="form-control" type="artist" name="request[artist]" size="40" maxlength="127" placeholder="Logic" required>
      <label for="request[name]">Song Name</label>
      <input class="form-control" type="name" name="request[name]" size="40" maxlength="127" placeholder="Man of the year" required>
      <label for="request[link]">Song Link (If you have one)</label>
      <input class="form-control" type="link" name="request[link]" size="40" placeholder="Logic">
      <button type="submit" class="btn btn-large btn-block btn-default">Reqeust</button>
    </form>
  </div>
</div>
