<div class="twitchBanner hidden" id="twitchBanner">
  <div class="container">
    <a class="link" href="https://www.twitch.tv/{{ site.data.settings.twitchbanner.username }}" id="twitchBanner" target="_blank">
      <div class="text text-center">Currently Live! Click to view the live stream.
        <div class="icon">
          <i class="fab fa-twitch pulsing icon" aria-hidden="true"></i>
        </div>
      </div>
    </a>
    <i class="fas fa-times close-notice" aria-hidden="true"></i>
  </div>
</div>
