// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
    .footer-content {
        font-size: 1.15em;
        color: $footer-color;
        padding: 10px 0;
        margin-bottom: 0;
        display: inline-block;
    }

    a {
        color: $footer-color_link;
        text-decoration: none;

        &:hover {
            color: lighten($footer-color_link, 15%);
            text-decoration: none;
        }
    }

    .copyright {
        background-color: $footer-background;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .social-icon {
        width: 40px;
        height: 40px;
        font-size: 24px;
        // background-color: $social-icon;
        text-align: center;
        margin-right: 10px;
        padding-top: 8px;
        border-radius: 50%;

        &:hover {
            background-color: $social-icon;
            transition: 500ms;
        }
    }

    .footer-social {
        li {
            float: right;
            display: flex;
        }
    }
}

@media (max-width: 991px) {
    footer {
        .footer-social {
            display: flex;
            justify-content: center;
        }

        .footer-content {
            display: block;
            text-align: center;
        }
    }
}
