@import "_partials/mixins";
@import "_partials/typography";
@import "_partials/variables";
@import "_global/nav";
@import "_global/footer";
@import "_global/social_icons";
@import "_component/jumbotron";
@import "_component/about";
@import "_component/contact";
@import "_component/legal";

.img-circle {
    border-radius: 50%;
}
// Custom spaceings
.big-content-top {
	padding-top: 25px;
}
.small-content-top {
	padding-top: 10px;
}
.page-header_center {
  text-align: center;
}
// Center Row
.row-centered {
    text-align:center;
}
// Center Col
.col-centered {
    margin: 0 auto;
    float: none;
}

// #s
#about {
  padding-top: 25px;
  padding-bottom: 25px;
}
#work {
  padding-top: 25px;
  padding-bottom: 25px;
}
#contact {
  padding-top: 25px;
  padding-bottom: 25px;
}