/* project_gallery.scss */
.project_gallery-title {
	font-size: 36px;
	color: #42B32F;
	text-align: center;
	font-weight: 500;
	margin-bottom: 70px;
	&:after {
		content: "";
		position: absolute;
		width: 7.5%;
		left: 46.5%;
		height: 45px;
		border-bottom: 1px solid #5e5e5e;
	}
}
.project_gallery_filter-button {
	font-size: 18px;
	border: 1px solid #42B32F;
	border-radius: 5px;
	text-align: center;
	color: #42B32F;
	margin-bottom: 30px;
	&:hover {
		font-size: 18px;
		border: 1px solid #42B32F;
		border-radius: 5px;
		text-align: center;
		color: #ffffff;
		background-color: #42B32F;
	}
}
.btn-default {
	&:active {
		.project_gallery_filter-button {
			&:active {
				background-color: #42B32F;
				color: #ffffff;
			}
		}
	}
}
.project_gallery_image {
	width: 100%;
}
.project_gallery_product {
	margin-bottom: 30px;
}
