.project_title {
    color: $brand-color;
    font-family: $main-font;
    font-size: 2.5em;
    text-align: center;

}
.project_headers {
    font-family: $main-font;
    font-size: 1.5em;

}
.project_dates {
    font-family: $main-font;
    font-size: 1.25em;
    
}
.project_colors {

}