.gallery {
    display: inline-block;
    margin-top: 20px;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: $brand-color-alt;
}
.project-name {
    font-size: 1.25em;
    text-align: center;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}