.project_title {
    color: $brand-color;
    font-family: $main-font;
    font-size: 2.5em;
    text-align: center;

}
.project_header {
    font-family: $main-font;
    font-size: 1.5em;
    text-align: center;

}
.project_date {
    font-family: $second-font;
    font-size: 1.25em;
    text-align: center;
}
.project_colors {

}
.project_colors_picture {
  display: block;
  margin: 0 auto;
}
