/* returntotop.scss */
#return-to-top {
	position: fixed;
	bottom: 20px;
	right: 0px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	width: 35px;
	height: 35px;
	display: block;
	text-decoration: none;
	display: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	&:hover {
		background: rgba(0, 0, 0, 0.9);
  }
 i {
	color: #fff;
	margin: 0;
	position: relative;
	left: 12px;
	top: 8px;
	font-size: 20px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
 }
	&:hover {
		color: #fff;
		top: 5px;
	}
}