---
title: Work
layout: default
page_header: Past work
gallery-fliter:
- {title: 'All', name: 'all'}
- {title: 'Adobe XD', name: 'adobe-xd'}
- {title: 'HTML', name: 'html'}
- {title: 'Wordpress', name: 'wordpress'}
gallery-thumbnails:
- {title: 'JSL Hub', fliter: 'html', picture: 'jslhub.png' , url: 'jslhub'}
- {title: 'Aishazart', fliter: 'wordpress', picture: 'aishazart.png', url: 'aishazart'}
- {title: 'Alan Crytex', fliter: 'html', picture: 'alancrytex.png', url: 'alancrytex'}
url-path: work
---
{% include nav_pages.html %}
{% include page_header.html %}
<div class="big-content-top">
{% include gallery.html %}
{% include contact.html %}
</div>
