--- 
layout: default
--- 
{{ content }}
<div class="container project">
    <div class="row">
        <div class="col-md-12">
            <div class="project_title">
                {{ page.project_title }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="project_dates">
            {{ page.project_description }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="project_dates">
            {{ page.project_start_date }} {{ page.project_end_date }}
        </div>
    </div>
    <div class="col-md-4">
        <div class="project_colors">
            <img class="img-responsive" alt="{{ page.project_title }} Project Colors" src="{{ site.data.settings.url }}/img/projects/{{ page.project_name }}/colors.jpeg"/>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="list-group gallery">{% for item in page.project_images %}
            <div class='col-xs-12 col-md-6'>
                                    <div class='text-right'>
                                        <div class='text-muted project-name'>{{ item.title }}</div>
                                    </div>
                <a class="thumbnail fancybox" rel="ligthbox" href="{{ site.data.settings.url }}/img/projects/{{ page.project_name }}/{{ item.picture }}">
                    <img class="img-responsive" alt="{{ item.name }} Project" src="{{ site.data.settings.url }}/img/projects/{{ page.project_name }}/{{ item.picture }}"
                    />
                </a>
            </div>{% endfor %}
        </div>
    </div>
</div>


</div>