--- 
layout: default 
---

<div class="container project">
    <div class="row">
        <div class="col-md-12">
                <div class="project_name">
                    {{ page.project_name }}
                </div>
        </div>
    </div>
        <div class="col-md-4">
            <div class="project_dates">
                {{ page.project_description }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="project_dates">
                {{ page.project_start_date }} {{ page.project_end_date }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="project_color">
                <div class="col-md-3" style="background-color: black;">
                </div>
                <div class="col-md-3" style="background-color: white;">
                </div>
                <div class="col-md-3" style="background-color: black;">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>

</div>